<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="lime row">
                <%- include("../partials/nav.ejs") %>
            </nav>
            <div class="row center-align">
                <h1 class="grey-text text-darken-2">Favorite Recipes</h1>
                <h5 class="grey-text text-darken-2">Make something memorable!</h5>
            </div>
        </header>
        <div class="divider"></div><br><br>
        <main>
            <div class="section">
                <a class="btn lime hoverable" href="/recipes/new"><i class="material-icons left">local_dining</i>Add new</a>
            </div>
            <div class="section row">
                <% for (i=0; i<favorites.length; i++){%>
                    <div class="col s6 m3 center-align">
                        <a class="white-text" href="/recipes/<%=favorites[i]._id%>">
                            <div class="card z-depth-2 hoverable">
                                <div class="card-image">
                                    <img src=" <% if (favorites[i].img){%><%=favorites[i].img%>
                                        <%} else { %>
                                            <%="https://i.imgur.com/xzZK1Unb.jpg"%> 
                                        <% } %>" alt="<%=favorites[i].title%>">                                
                                </div>
                                <div class="card-action orange accent-2">
                                    <h5><%=favorites[i].title%></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>
        </main>
    </div>
</body>

</html>