<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="row lime">
                <%- include("../partials/nav.ejs") %>
            </nav>
            <div class="row center-align">
                <h1 class="grey-text text-darken-2">Every Recipe</h1>
                <h5 class="grey-text text-darken-2">All in one place</h5>
            </div>
            <div class="divider"></div>
        </header>
        <main>
            <div class="section">
                <a class="btn hoverable lime" href="/recipes/new"><i class="material-icons left">local_dining</i>Add new</a>
            </div>
            <div class="section row">
                <% for (i=0; i<allRecipes.length; i++){%>
                    <div class="col s6 m3 center-align">
                        <a class="white-text" href="/recipes/<%=allRecipes[i]._id%>">
                            <div class="card z-depth-2 hoverable">
                                <div class="card-image">
                                    <img src=" <% if (allRecipes[i].img){%><%=allRecipes[i].img%>
                                        <%} else { %>
                                            <%="https://i.imgur.com/xzZK1Unb.jpg"%> 
                                        <% } %>" alt="<%=allRecipes[i].title%>">
                                </div>
                                <div class="card-action orange accent-2">
                                    <h5>
                                        <%=allRecipes[i].title%>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>
        </main>
    </div>
</body>

</html>