<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="row lime">
                <%- include("../partials/nav.ejs") %>
            </nav>
        </header>
        <main>
            <!-- *add a row and some columns for this seciton -->
            <div class="section">
                <!-- RECIPE TITLE -->
                <h1 class="row grey-text text-darken-2 center-align">
                    <%= showRecipe.title %>
                </h1>
                <!-- DESCRIPTION -->
                <h5 class="row grey-text text-darken-2 center-align">
                    <%=showRecipe.description %>
                </h5>
                <!-- RECIPE TAGS -->
                <div class="row">
                    <!-- if tags exist, then populate. -->
                    <% if (showRecipe.tags.length> 0){ %>
                        <div class="col s12 m8 left grey-text text-darken-2">
                            <div class="row">
                                <h5>Tags:</h5>
                                <% showRecipe.tags.forEach(tag=> { %>
                                    <div class="col s6 m3 center-align">
                                        <div class="card-panel lime darken-1" style="border-radius: 50px; padding: 10px;">
                                            <span class="white-text"><%=tag%></span>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                        <!-- if no tags, then placeholder -->
                        <% } else { %>
                            <div class="col s12 m4 left">
                                <h5 class="grey-text text-darken-2"> This Recipe has no tags...yet.</h5>
                            </div>
                        <% } %>
                    <!-- RECIPE RATING -->
                    <!-- if a rating exists, show rating and option to update.  -->
                    <div class="col s12 m4">
                        <div class="card yellow lighten-5">
                            <% if (showRecipe.rating) { %>
                                <div class="card-content">
                                    <span class="activator card-title grey-text text-darken-2">Rating:<i class="material-icons right">more_vert</i></span>
                                    <h5 class="grey-text text-darken-2"><%=showRecipe.rating%>/10</h5>
                                    <p class="grey-text text-darken-2">click to update me</p>
                                </div>
                                <div class="card-reveal yellow lighten-5">
                                    <span class="flow-text activator card-title grey-text text-darken-2">New rating<i class="material-icons right">close</i></span>
                                    <br>
                                    <form action="/recipes/<%=showRecipe._id%>/rate?_method=PUT" method="POST">
                                        <div class="row">
                                            <div class="col s5">
                                                <input type="text" name="rating" placeholder="Number">
                                            </div>
                                            <div class="col s7">
                                                <button type="submit" class="btn-small lime white-text"><i class="material-icons left">send</i>save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <!-- if rating doesn't exist, give option to update with out the edit page.  -->
                            <% } else { %>
                                <div class="card-content">
                                    <span class="card-title grey-text text-darken-2">No rating available</span>
                                    <form action="/recipes/<%=showRecipe._id%>/rate?_method=PUT" method="POST">
                                        <input type="text" name="rating" placeholder="Rate this recipe!">
                                        <button type="submit" class="btn lime white-text"><i class="material-icons left">send</i></button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <!-- BUTTONS SECTION -->
            <div class="section">
                <div class="row">
                    <!-- EDIT -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <a class="hoverable btn orange white-text" href="/recipes/<%=showRecipe._id%>/edit">
                            <i class="material-icons left">edit</i> Edit</a>
                    </div>
                    <!-- DELETE -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>?_method=DELETE" method="POST">
                            <button disabled class="hoverable orange btn" type="submit">
                                <i class="material-icons left">delete_forever</i> Delete
                            </button>
                        </form>
                    </div>
                    <!-- ADD/REMOVE FROM FAVS -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>/addFav?_method=PUT" method="POST">
                            <% if (showRecipe.isFavorite===true){ %>
                                <button class="hoverable btn orange white-text" type="submit">
                                    <i class="material-icons left">remove_circle</i> favorites
                                </button>
                                <% } else { %>
                                    <button class="hoverable btn lime white-text" type="submit">
                                        <i class="material-icons left">add_circle</i> favorites
                                    </button>
                                <% } %>
                        </form>
                    </div>
                    <!-- ADD/REMOVE FROM TRY LATER -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>/trylater?_method=PUT" method="POST">
                            <% if (showRecipe.tryLater===true){ %>
                                <button class="hoverable btn orange white-text" type="submit">
                                    <i
                                        class="material-icons left">remove_circle</i> try later
                                </button>
                            <% } else { %>
                                <button class="hoverable btn lime white-text" type="submit">
                                    <i class="material-icons left">add_circle</i> try later
                                </button>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <!-- RECIPE CONTENT -->
            <div class="section row">
                <!-- RESPONSIVE IMAGE -->
                <div class="col s12">
                    <% if (showRecipe.img){%>
                        <img class="col s12 responsive-img" src="<%=showRecipe.img%>" alt="<%=showRecipe.title%>">
                    <%} else { %>
                        <h5 class="col s12 center-align grey-text text-darken-2">This recipe has no image...yet.</h5>
                    <% } %>
                </div>
                <div class="col s12">
                    <div class="card hoverable z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h5 class="card-title grey-text text-darken-2">Recipe Link:</h5>
                            <a href="<%=showRecipe.link%>">
                                <h6><%=showRecipe.link%></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- REICPE NOTES -->
                <div class="col s12 m6 l6 right">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2"> Saved Notes: </h3>
                            <textarea disabled
                                class="materialize-textarea grey-text text-darken-2"><%= showRecipe.notes%></textarea>
                        </div>
                    </div>
                </div>
                <!-- INGREDIENTS LIST -->
                <div class="col s12 m6 l6 left">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2">Ingredients: </h3>
                            <textarea disabled
                                class="materialize-textarea grey-text text-darken-2"><%- showRecipe.ingredients %> </textarea>
                        </div>
                    </div>

                </div>
                <!-- INSTRUCTIONS LIST -->
                <div class="col s12">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2">Instructions: </h3>
                            <textarea class="materialize-textarea grey-text text-darken-2"
                                disabled><%=showRecipe.instructions%></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- CREATED/EDITED FOOTER -->
        <footer class="lime darken-1 page-footer valign-wrapper">
            <div class="row center-align">
                <p class="col s6">CREATED: <%= showRecipe.createdAt %></p>
                <p class="col s6">EDITED: <%= showRecipe.updatedAt %></p>
            </div>
        </footer>
    </div>
</body>

</html>