<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header>
        <nav>
            <%- include("../partials/nav.ejs") %>
        </nav>
        <h1><%= showRecipe.title %> </h1>
    </header>
    <main>
        <p><%=showRecipe.description %> </p>
        <form action="/recipes/<%=showRecipe._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Recipe">
        </form>
        <button><a href="/recipes/<%=showRecipe._id%>/edit">Edit Recipe</a></button>
        <form action="/recipes/<%=showRecipe._id%>/addFav?_method=PUT" method="POST">
            <% if (showRecipe.isFavorite === true){ %>
                <input type="submit" value="Remove from Favorites">
            <% } else { %>
                <input type="submit" value="Add to Favorites">
            <% } %> 
        </form>
        <form action="/recipes/<%=showRecipe._id%>/trylater?_method=PUT" method="POST">
            <% if (showRecipe.tryLater === true){ %>
                <input type="submit" value="Remove from 'try later'">
            <% } else { %>
                <input type="submit" value="Add to 'try later'">
            <% } %> 
        </form>
        <p>
            <% if (showRecipe.tags.length > 0){ %>
                Tags: <%= showRecipe.tags.join(", ") %> 
            <% } else { %>
                This Recipe has no tags.
            <% } %> 
        </p>
        <p>Rating: <%=showRecipe.rating%>/10 </p>
        <img src="<%=showRecipe.img%>" alt="<%= showRecipe.title %>" style="max-width: 100px; max-height: auto;">
        <p>
            <h3> Saved Notes: </h3>
            <ul>
                <% if (showRecipe.notes.length > 0){ %>
                    <% showRecipe.notes.forEach(note => { %>
                       <li><%= note %> </li> 
                    <% }); %>
                <% } else { %>
                    no notes
                <% }%> 
            </ul>
        </p>
        <p> <h3>Ingredients: </h3>
            <ul>
                <% showRecipe.ingredients.forEach(ingredient => { %>
                    <li><%= ingredient %> </li>
                <% }) %> 
            </ul>
        </p>
        <p> <h3>Instructions: </h3>
            <ul>
                <% showRecipe.instructions.forEach(item => { %>
                    <li><%= item %> </li>
                <% }) %> 
            </ul>
        </p>
    </main>
</body>
</html>