<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="row lime">
                <%- include("../partials/nav.ejs") %>
            </nav>
        </header>
        <main>
            <!-- *add a row and some columns for this seciton -->
            <div class="section row">
                <!-- RECIPE TITLE -->
                <h1 class="col s12 grey-text text-darken-2 center-align">
                    <%= showRecipe.title %>
                </h1>
                <!-- DESCRIPTION -->
                <h5 class="col s12 grey-text text-darken-2 center-align">
                    <%=showRecipe.description %>
                </h5>
                <!-- RECIPE TAGS -->
                <h5 class="col s9 left grey-text text-darken-2">
                    <% if (showRecipe.tags.length> 0){ %>
                        Tags: <%= showRecipe.tags.join(", ") %> 
                    <% } else { %>
                        This Recipe has no tags.
                    <% } %> 
                    </h5>
                <h5 class="col s3 grey-text text-darken-2">Rating: <%=showRecipe.rating%>/10 </h5>
            </div>
            <div class=" divider">
            </div>
            <!-- BUTTONS SECTION -->
            <div class="section">
                <div class="row">
                    <!-- EDIT -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <a class="hoverable btn orange white-text" href="/recipes/<%=showRecipe._id%>/edit"><i
                                class="material-icons left">edit</i> Edit</a>
                    </div>
                    <!-- DELETE -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>?_method=DELETE" method="POST">
                            <button class="hoverable orange btn" type="submit"><i
                                    class="material-icons left">delete_forever</i> Delete</button>
                        </form>
                    </div>
                    <!-- ADD/REMOVE FROM FAVS -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>/addFav?_method=PUT" method="POST">
                            <% if (showRecipe.isFavorite===true){ %>
                                <button class="hoverable btn orange white-text" type="submit"><i
                                        class="material-icons left">remove_circle</i> favorites</button>
                                <% } else { %>
                                    <button class="hoverable btn lime white-text" type="submit"><i
                                            class="material-icons left">add_circle</i> favorites</button>
                                    <% } %>
                        </form>
                    </div>
                    <!-- ADD/REMOVE FROM TRY LATER -->
                    <div class="col s6 m3 l3 input-field center-align">
                        <form action="/recipes/<%=showRecipe._id%>/trylater?_method=PUT" method="POST">
                            <% if (showRecipe.tryLater===true){ %>
                                <button class="hoverable btn orange white-text" type="submit"><i
                                        class="material-icons left">remove_circle</i> try later</button>
                                <% } else { %>
                                    <button class="hoverable btn lime white-text" type="submit"><i
                                            class="material-icons left">add_circle</i> try later</button>
                                <% } %>
                        </form>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <!-- RECIPE CONTENT -->
            <div class="section row">
                <!-- RESPONSIVE IMAGE -->
                <div class="col s12">
                    <img class="col s12 responsive-img" src=" <%=showRecipe.img%>" alt="<%= showRecipe.title %>">
                </div>
                <div class="col s12">
                    <div class="card hoverable z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h5 class="card-title grey-text text-darken-2">Recipe Link:</h5>
                            <a href="<%=showRecipe.link%>"><h6><%=showRecipe.link%></h6></a>
                        </div>
                    </div>
                </div>
                <!-- REICPE NOTES -->
                <div class="col s12 m6 l6 right">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2"> Saved Notes: </h3>
                            <ul>
                                <% if (showRecipe.notes.length> 0){ %>
                                    <% showRecipe.notes.forEach(note=> { %>
                                        <li class="grey-text text-darken-2 flow-text">
                                            <i class="material-icons">label</i>
                                            <%= note %>
                                        </li><br>
                                        <% }); %>
                                <% } else { %>
                                    no notes
                                <% }%>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- INGREDIENTS LIST -->
                <div class="col s12 m6 l6 left">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2">Ingredients: </h3>
                            <ul>
                                <% showRecipe.ingredients.forEach(ingredient=> { %>
                                    <li class="grey-text text-darken-2 flow-text">
                                        <%= ingredient %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- INSTRUCTIONS LIST -->
                <div class="col s12">
                    <div class="card z-depth-2 yellow lighten-5">
                        <div class="card-content">
                            <h3 class="grey-text text-darken-2">Instructions: </h3>
                            <ol>
                                <% showRecipe.instructions.forEach(item=> { %>
                                    <li class="grey-text text-darken-2 flow-text">
                                        <%= item %>
                                    </li>
                                    <% }) %>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- CREATED/EDITED FOOTER -->
        <footer class="lime darken-1 page-footer valign-wrapper">
            <div class="row center-align">
                <p class="col s6">CREATED: <%= showRecipe.createdAt %>
                </p>
                <p class="col s6">EDITED: <%= showRecipe.updatedAt %>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>